/*  -----Casey Strange-----  */

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@1,500;1,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------- HTML Styles Start ---------- */


:root {
    --black: #000000;
    --white: #FFFFFF;
    --dark-gray: #1E2324;
    --aqua: #5EB0BC;
    --teal: #1F6770;
    --orange: #D75F3F;
    --tan: #C1C7B3;
}

html {
    font-size: 20px;
    width: 1280px;
    margin: auto;
    background-color: var(--dark-gray);
}

/* ---------- Body ---------- */
body {
    background-color: var(--white);
    margin: 1rem;
    border-radius: 10px;
    padding-bottom: 1rem;
}


/* ---------- Header ---------- */
header {
    padding: 2rem;
    color: var(--black);
    display: grid;
    grid-template-columns: repeat(auto-fill);
}

h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
}

